<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/_layout">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>카테고리 삭제</title>
<link rel="stylesheet" href="assets/css/css.css">
</head>
<body>

	<div layout:fragment="content">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>페이지명(ex.자유게시판)</h2>
					<ol>
						<li><a href="#">페이지명(ex.자유게시판)</a></li>
						<li>큰 페이지(ex.게시판)</li>
					</ol>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs -->

		<section class="myContent">
			<div class="container">

				<div class="board_wrap">
					<div class="board_title">
						<strong>카테고리 삭제</strong>

					</div>
					<div class="board_write_wrap">
						<div class="board_write">
							<div class="title">
								<dl>
									<dd>
										<strong><p>카테고리를 삭제 하시겠습니까?</p></strong>
									</dd>
								</dl>
							</div>
							<hr>
							<br>
							<br>
							<hr>
						</div>
						<div class="bt_wrap">
							<a href="delete_real.html">삭제하기</a> <a href="view.html">취소</a>
						</div>
					</div>
				</div>

			</div>
		</section>
	</div>

</body>
</html>