<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="static/assets/css/style_board.css"></head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>비밀번호 확인</strong>
            
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dd>
	                        <strong><p>해당 글을 삭제하면 다시는 복구 할 수 없습니다.<br>
							게시물을 삭제 하시겠으면‘삭제하기’를 클릭해주세요.<br> 
							삭제를 원하지 않으시다면 ‘취소’를 클릭 해주세요.<br>
							</p><strong>
						</dd>
                    </dl>
                </div>
                <hr><br><br>
            </div>
            <div class="bt_wrap">
                <a href="list.html">삭제하기</a>
                <a href="list.html">취소</a>
            </div>
        </div>
    </div>
</body>
</html>