<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Fitness Program - 게시글 삭제</title>
    <link rel="stylesheet" href="assets/css/css.css">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>게시글 삭제</strong>
            
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dd><p>삭제 및 수정을 원하시면 비밀번호를 입력해주세요.</p></dd>
                    </dl>
                </div>
                <hr><br><br>
                <dl>
                	<dd><strong>비밀번호</strong><input type="password" placeholder="비밀번호 입력" value="1234"></dd><br><br>
                </dl>
            	<hr>
            </div>
            <div class="bt_wrap">
                <a href="delete_real.html">확인</a>
                <a href="view.html">취소</a>
            </div>
        </div>
    </div>
</body>
</html>