<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/_layout">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>신고글 관리</title>
<!-- 작성하는 페이지에 별도의 CSS가 필요하면 추가. -->
<link href="assets/css/style_board.css" rel="stylesheet">
</head>
<body>

	<div layout:fragment="content">
		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>신고글 관리</h2>
					<ol>
						<li><a href="#">게시판 관리</a></li>
						<li>신고글 관리</li>
					</ol>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs -->

		<section class="myContent">
			<div class="container">
				<!-- 내용 작성. -->


				<div class="board_wrap">
					<div class="board_title">
						<strong>신고글 목록</strong>
					</div>
					<div class="search_1">
						<form id="search-form">
							<select name="search_select">
								<option value="title">제목</option>
								<option value="content">내용</option>
							</select> <input type="text" id="search">
							<button id="searchBtn">search</button>
						</form>
					</div>
					<div class="board_list_wrap">
						<div class="board_list">
							<div class="top">
								<div class="num">번호</div>
								<div class="category">카테고리</div>
								<div class="title">제목</div>
								<div class="writer">글쓴이</div>
								<div class="like">좋아요</div>
								<div class="comment">댓글</div>
								<div class="date">작성일</div>
								<div class="reporoDate">신고시간</div>

							</div>
							<div>
								<div class="num">5</div>
								<div class="title">
									<a href="view.html">글 제목이 들어갑니다.</a>
								</div>
								<div class="writer">김이름</div>
								<div class="like">좋아요</div>
								<div class="comment">댓글</div>
								<div class="date">작성일</div>
								<div class="reportDate">2021.1.15</div>

							</div>
							<div>
								<div class="num">4</div>
								<div class="title">
									<a href="view.html">글 제목이 들어갑니다.</a>
								</div>
								<div class="writer">김이름</div>
								<div class="date">2021.1.15</div>

							</div>
							<div>
								<div class="num">3</div>
								<div class="title">
									<a href="view.html">글 제목이 들어갑니다.</a>
								</div>
								<div class="writer">김이름</div>
								<div class="date">2021.1.15</div>

							</div>
							<div>
								<div class="num">2</div>
								<div class="title">
									<a href="view.html">글 제목이 들어갑니다.</a>
								</div>
								<div class="writer">김이름</div>
								<div class="date">2021.1.15</div>

							</div>
							<div>
								<div class="num">1</div>
								<div class="title">
									<a href="view.html">글 제목이 들어갑니다.</a>
								</div>
								<div class="writer">김이름</div>
								<div class="date">2021.1.15</div>

							</div>
						</div>
						<div class="board_page">
							<a href="#" class="bt first"><<</a> <a href="#" class="bt prev"><</a>
							<a href="#" class="num on">1</a> <a href="#" class="num">2</a> <a
								href="#" class="num">3</a> <a href="#" class="num">4</a> <a
								href="#" class="num">5</a> <a href="#" class="bt next">></a> <a
								href="#" class="bt last">>></a>
						</div>
						<div class="bt_wrap">
							<a href="/insertBoard" class="on">등록</a>

							<!--<a href="#">수정</a>-->
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
