<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/_layout">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>My Fitness Program - 게시글 수정</title>
  <!-- 작성하는 페이지가 CSS가 별도로 필요하면 추가한다. -->
  <link href="assets/css/style_board.css" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>게시글 수정</h2>
					<ol>
						<li><a href="#">게시글 수정</a></li>
						<li>게시판</li>
					</ol>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs -->

		<section class="myContent">
			<div class="container">
				<form th:action="@{board/updateBoard}" method="post">
					<input name="bseq" type="hidden" th:value="${board.bseq}"/>
					<div class="board_wrap">
						<div class="board_title">
							<strong>글 수정</strong>
						</div>
						<div class="board_write_wrap">
							<div class="board_write">
								<div class="title">
									<dl>
										<dt>제목</dt>
										<dd>
											<input type="text" placeholder="제목 입력" th:value="${board.title}">
										</dd>
									</dl>
								</div>
								<div class="info">
									<dl>
										<dt>글쓴이</dt>
										<dd>
											<input type="text" readonly th:value="${board.writer}">
										</dd>
									</dl>
									<dl>
										<!--  
										<dt>비밀번호</dt>
										<dd>
											<input type="password" placeholder="비밀번호 입력" th:text="${board.boardPwd}">
										</dd>
										-->
									</dl>
									<dl>
										<!--  
										<dt>아이디</dt>
										<dd>
											<input type="text" readonly th:text="${board.member.mid}">
										</dd>
										-->
									</dl>
									<dl>
										<dt>카테고리</dt>
										<dd>
											<select name="category" id="category">
												<option value="category1">전체게시판</option>
												<option value="category2">자유게시판</option>
												<option value="category3">운동영상</option>
												<option value="category4">첼린지</option>
											</select>
										</dd>
									</dl>
								</div>
								<div class="cont">
									<textarea placeholder="내용 입력" th:text="${board.content}"></textarea>
								</div>
								<div class="upload">
									<input type="file" id="fileupload" />
								</div>

							</div>
							<div class="bt_wrap">
								<a th:href="@{/getBoard(bseq=${board.bseq})}" th:text="수정"></a>
								<a th:href="@{/getBoard(bseq=${board.bseq})}" th:text="취소"></a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</body>
</html>