<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/_layout">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>My Fitness Program - 식단 작성</title>

<!-- 작성하는 페이지가 CSS가 별도로 필요하면 추가한다. -->
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="assets/css/getDiary.css">
</head>

<body>

	<div layout:fragment="content">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>식단 작성</h2>
					<ol>
						<li><a href="diet/dietCalendar">식단 달력</a></li>
						<li>식단 올리기</li>
					</ol>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs -->

		<section class="myContent">
			<div class="container getDiary">
				<main>
					<div class="py-5 text-center">
						<h2>
							<strong>2022년 07월 26일</strong>
						</h2>
						<input type="color" class="mycolor" value="red">
					</div>

					<div class="row g-5">
						<div class="col-md-5 col-lg-4 order-md-last">
							<h4
								class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-primary">수분 섭취량</span>
								<button id="bt" type="button" class="btn btn-primary S">한컵</button>
							</h4>
							<ul class="list-group mb-3">
								<li class="list-group-item d-flex justify-content-between lh-sm">
									<div>
										<!-- <i class="bi bi-cup mt-5 front_hp1" id="A"></i> -->
										<img id="A" class=" mt-5 front_hp1" src="img/HP.png"></img> <img
											id="B" class=" mt-5 front_hp2" src="img/HP.png"></img> <img
											id="C" class=" mt-5 front_hp3" src="img/HP.png"></img> <img
											id="D" class=" mt-5 front_hp4" src="img/HP.png"></img>
										<!-- 버튼 클릭전 보여줄 이미지 -->
										<img id="btA" class=" mt-5 bcak_hp1" src="img/HP2.png"></img>
										<img id="btB" class=" mt-5 bcak_hp2" src="img/HP2.png"></img>
										<img id="btC" class=" mt-5 bcak_hp3" src="img/HP2.png"></img>
										<img id="btD" class=" mt-5 bcak_hp4" src="img/HP2.png"></img>
									</div>
								</li>
							</ul>
							<form class="needs-validation" novalidate>
								<div class="col-sm-7">
									<label class="form-label">체중 (kg)</label> <input type="text"
										class="form-control" id="weight" placeholder="숫자만 기입하세요."
										value="">
								</div>
								<div class="col-sm-7">
									<label class="form-label">체지방 (%)</label> <input type="text"
										class="form-control" id="bodyFat" placeholder="숫자만 기입하세요."
										value="">
								</div>
								<div class="col-sm-7">
									<label class="form-label">골격근 (%)</label> <input type="text"
										class="form-control" id="muscle" placeholder="숫자만 기입하세요."
										value="">
								</div>
							</form>
						</div>
						<div class="col-md-8 col-lg-7 ms-5">
							<h4 class="mb-3">식단 작성 표</h4>
							<form class="needs-validation" novalidate>
								<div class="row g-3 mb-5">
									<div class="col-sm-10 flex-nowrap">
										<label class="form-label">아침식사</label> <input type="text"
											class="form-control" id="morning" placeholder="아침 식사를 작성하세요."
											value="고구마">
									</div>
									<div class="col-sm-10">
										<label class="form-label">점심식사</label> <input type="text"
											class="form-control" id="lunch" placeholder="점심 식사를 작성하세요."
											value="샌드위치">
									</div>
									<div class="col-sm-10">
										<label class="form-label">저녁식사</label> <input type="text"
											class="form-control" id="dinner" placeholder="저녁 식사를 작성하세요."
											value="찜닭">
									</div>
									<div class="col-sm-10">
										<label class="form-label">야식</label> <input type="text"
											class="form-control" id="snack" placeholder="야간 식사를 작성하세요."
											value="아이스크림">
									</div>

								</div>
								<div
									class="clickButton mt-5 position-absolute bottom-10 start-50 translate-middle-x">
									<button class="w-30 btn btn-dark btn-md" type="submit">등록</button>
									<button class="w-30 btn btn-dark btn-md" type="submit">뒤로
										가기</button>
								</div>
							</form>
						</div>
					</div>
				</main>
			</div>
		</section>
	</div>
	<script>
		var num = 1; //변수 선언
		$(".front_hp1").hide(); //클래스명 front_hp1을 숨깁니다.
		$(".front_hp2").hide(); //클래스명 front_hp2을 숨깁니다.
		$(".front_hp3").hide(); //클래스명 front_hp3을 숨깁니다.
		$(".front_hp4").hide(); //클래스명 front_hp3을 숨깁니다

		$("#bt").click(function() { //ID가 bt인 버튼을 클릭시 이벤트
			next(); //함수 next를 실행
		});

		function next() {
			if (num == 100) { //만약 num이 4가 되면 모든 버튼을 숨김
				$(".front_hp1").hide();
				$(".front_hp2").hide();
				$(".front_hp3").hide();
				$(".front_hp4").hide();
				$("#bt").hide();
			} else {
				$(".bcak_hp" + num).hide(); //class명 bcak_hp1 ~ bcak_hp3 까지를 num으로 변경하며 숨김
				$(".front_hp" + num).show(); //class명 front_hp1 ~ front_hp3 까지를 num으로 변경하며 보여줌
				num++; //num을 1증가
			}
		}
	</script>
</body>
</html>