<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/_layout">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>로그인</title>

<!-- 작성하는 페이지가 CSS가 별도로 필요하면 추가한다. -->
<link rel="stylesheet" href="assets/css/style_login.css" />

<!-- 	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript">   
	$(document).ready( function() {
	
	$("#headers").load("common/header.html");  // 원하는 파일 경로를 삽입하면 된다
	$("#footers").load("common/footer.html");  // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
	
	});
	</script>  -->

<style>
#footer {
	height: 210px;
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0;
}
</style>
</head>
<body>

	<div layout:fragment="content">

		<!-- ======= Breadcrumbs ======= -->
		<section class="breadcrumbs">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<h2>로그인</h2>
					<ol>
						<li><a href="#">로그인</a></li>
						<li>로그인</li>
					</ol>
				</div>
			</div>
		</section>
		<!-- End Breadcrumbs -->

		<section class="myContent">
			<div class="container">

				<!-- ======================== 로그인 ======================== -->

				<div class="center">
					<h1>로그인</h1>
					<form th:action="@{/login}" th:method="post">
						<div class="txt_field">
							<input type="text" name="id" required> <span></span> <label>아이디</label>
						</div>
						<div class="txt_field">
							<input type="password" name="password" required> <span></span>
							<label>비밀번호</label>
						</div>
						<div class="Id">
							<a href="/findId">아이디 찾기</a>
						</div>
						<div class="pass">
							<a href="/findPwd">비밀번호 찾기</a>
						</div>
						<input type="submit" value="로그인">
						<div class="signup_link">
							<a href="/join">회원가입</a>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>


</body>
</html>